/* Elements */
body {
	font-family:'Open Sans', sans-serif;
	background:#655e6a;
	color:white;
}

ul {
	list-style-type:none;
}

img {
	margin:auto;
	position:relative;
}

h1 {
	font-family: 'Unica One', cursive;
}

h2 {
	/*text-decoration:underline;*/
	margin-bottom: 0px;
	font-size: 3em;
}

h6 {
	margin: 2% 0 6% 0;
}

a {
	text-decoration:none;
}

p {
	margin:5%;
	font-size: 1.5em;
}

header {
	text-align: center;
	position:fixed;
	height:75px;
	top:0;
	left:0;
	right:0;
	z-index: 1000;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);

}

footer {
	text-align: center;
	font-size: 12px;
	position:fixed;
	height:40px;
	bottom: 0;
	left:0;
	right:0;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* IDs */

#container {
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:75px;
}

#content {
	width:50%;
	float: right;
	margin: 0 20%;
	padding: 2% 5% 8% 5%;
	bottom:40px;
}

#sidebar {
	position: fixed;
	width:15%;
	height:100%;
	left:0;
	padding:5% 2% 0 2%;
}

#twitter-feed {
	position: fixed;
	width:15%;
	height:100%;
	padding:5% 2%;
	right:0;
}

#image-profile {
	margin-left:30px;
}

/* Classes */

.box {
	border-radius: 50px;
	box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
	margin: auto;
	width:100px;
	height:100px;
}

.box1 {
	background-color: rgba(161,110,202,.75);
}

.box2 {
	background-color: rgba(26,188,156,.75);
}

.box3 {
	background-color: rgba(243,200,0,.75);
}

.sandbox {
	border-radius: 30px;
	position:relative;
	margin:40px auto 20px auto;
	width:30%;
	height:300px;
	background-color: rgba(86, 79, 93, .5);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
	border:1px solid rgba(58, 58, 58, 0.2);
}

.bounds {
	background:rgba(86, 79, 93, 1);
}

.logo {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.analysis {
	margin: 30px;
	padding:20px;
	background: rgba(256, 256, 256, 0.05);
	border-radius:25px;
}

.nested-link {
	color:#f3c800;
}

/* Pseudo-classes */
a:link {
	color:white;
}

a:visited {
	color: #009494;
}

a:hover {
	color:#02d3c5;
}

a:active {
	color:#a47bbf;
}