/* Elements */

body {
		text-align: center;
}

/* IDs */

#header {
	padding: 10px;
	border: 1px solid #ffffff;
	margin: 10px;
}

#content {
	width: 50%;
	padding: 10px;
	border: none;
	margin: auto;
}

#sidebar {
	width: 200px;
	padding: 10px;
	border: none;
	margin-right: auto;
	float: left;
	top:50px;
}

#footer {
	position: absolute;
	width: 100%;
	padding: 10px;
	border: 1px solid #ffffff;
	margin-top: 10px auto auto auto;
	bottom:0;
}

#block {
	position: absolute;
}

#block-caption {
	z-index: 1000;
}

#image {
	text-align: center;
}

/* Classes */

.important {
	color:yellow;
}

/* Pseudo-classes */

a:link {
	color:blue;
}

a:visited {
	color:darkblue;
}

a:hover {
	color:orange;
}

a:active {
	color:gray;
}